<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Create a New Campground</h1>
        <div style="width: 40%; margin: 30px auto;">
            <form action="/campgrounds" method="POST">
                <div class=form-group> 
                    <input class="form-control" type="text" name="name" placeholder="Name">
                </div>
                 <div class="form-group"> 
                    <input class="form-control" type="text" name="location" placeholder="Location">
                </div>
                <div class=form-group> 
                    <input class="form-control" type="number" name="price" placeholder="Price" min="1.0" step="1.0">
                </div>
                <div class=form-group> 
                    <input class="form-control" type="text" name="image" placeholder="Image url">
                </div>
                <div class=form-group> 
                    <textarea class="form-control" rows="4" name="description" placeholder="Description"></textarea>
                </div>
                <div class=form-group> 
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
                <div class="form-group">
                     <a href="/campgrounds" class="btn btn-lg btn-default btn-block" role="button">Go Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>